<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Hello, SmartNinja!</h1>
    <form method="POST" action="/login">
        <label for="input-ime">Ime: </label>
        <input type="text" id="input-ime" name="ime">
        <br>
        <label for="input-priimek">Priimek: </label>
        <input type="text" id="input-priimek" name="priimek">
        <br>
        <button type="submit">Prijava</button>
    </form>

</body>
</html>